h1 {
    color: magenta;
    background-color: yellow;
    text-align: center;
    border: 5px black solid;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;   
}
.title{
    background-color:aliceblue;
}

#important{
    color:blueviolet
}